<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="">Hotêls</a></li>
    </ul>
    <div class="navbar-right">
      <div class="input-group">
        <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Rechercher">
      </div>
    </div>
  </div>
</nav>
<div class="container" style="margin-bottom: 90px">
  <div class="row">
      <div class="col-sm-3">
      <app-reservation></app-reservation>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="footer">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="admin/new-hotel">Administration</a></li>
        </ul>
      </div>
    </nav>
</div>
