<div class="row">
    <div class="col-sm-12">
        <form>
        <div class="form-group">
            <label for="name">Choisir une date d'arrivé</label>
            <input type="date" id="name" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="name">Choisir une date de départ</label>
            <input type="date" id="name" class="form-control" name="name" required>
        </div>
        <div class="form-group col-sm-6">
            <label for="name">Adultes</label>
            <select name="nbAdulte" id="nbAdulte" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <div class="form-group col-sm-6">
                <label for="name">Enfants</label>
                <select name="nbEnfant" id="nbEnfant" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Voir disponible</button>
        </form>
    </div>
</div>